.image-outer {
  padding: 20px;
  .link {
    cursor: default;
  }
  .image {
    overflow: hidden;
    text-align: center;
    img {
      position: relative;
      margin-top: 0px;
      margin-right: auto;
      margin-bottom: 10px;
      margin-left: auto;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
        0 3px 1px -2px rgba(0, 0, 0, .2),
        0 1px 5px 0 rgba(0, 0, 0, .12);
      border: 0;
      z-index: 1;
      transition: opacity 0.3s ease;
      @media screen and (max-width: 768px) and (orientation: portrait) {
        width: 100%;
      }
      @media screen and (max-width: 1024px) and (orientation: landscape) {
        width: 100%;
      }
    }
  }
}