.cell {
  width: 175px;
  min-height: 100px;
  padding: 0;
  background: #fff;
  margin: 8px;
  margin-top: 10px;
  font-size: 12px;
  float: left;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  text-align: center; }
  @media screen and (max-width: 400px) {
    .cell {
      width: 160px; } }
  @media screen and (max-width: 320px) {
    .cell {
      width: 140px; } }
  .cell:hover {
    box-shadow: 0 1px 5px rgba(34, 25, 25, 0.8); }
  .cell .link {
    text-decoration: none; }
  .cell .image-wrapper {
    overflow: hidden; }
    .cell .image-wrapper img {
      display: block;
      width: 100%;
      height: 100%;
      border: 0;
      max-width: 100%;
      background: #ccc;
      transition: opacity .5s ease, transform .2s ease; }
    .cell .image-wrapper:hover img {
      transform: scale(1.05); }
